{% extends "base.html" %}


{% block content %}

  <form class="form-inline">
    <div class='input-group date' id='datetimepicker2'>
      <input id="inputSchedule" name="sendmail_schedule" type='text' class="form-control"
             pattern="^(19|20)\d{2}\/(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01]) ([01]\d|2[0-3]):?[0-5]\d$"
             required/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
    </div>
  </form>

{% endblock %}