<!DOCTYPE html>
<html>
<head lang="en">
  {% include '_head.html' %}

  {% block head_scripts %}{% endblock %}
</head>
<body>

<!-- Fixed masthead -->
<nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if upath_info == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
        <li {% if upath_info == '/about' %}class="active"{% endif %}><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Default</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>


<div class="container">

  {% block content %}{% endblock %}

</div>
<!-- /container -->


<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
<script src="/public/javascript/vendors.js"></script>
<script src="/public/javascript/bundle.js"></script>

{% block foot_scripts %}{% endblock %}
</body>
</html>
