{% extends "base.html" %}


{% block content %}

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Masthead example</h1>

    <p>This example is a quick exercise to illustrate how the default, static and fixed to top masthead work. It
      includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>

    <p>To see the difference between static and fixed top mastheads, just scroll.</p>

    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar-masthead" role="button">View masthead
        docs &raquo;</a>
    </p>
  </div>

  index

{% endblock %}